<slide class="{{ slide.class }}" id="{{ slide.id }}" style="background:{{{ slide.bg }}};">
  {{# slide.header }}
  <hgroup>
    {{{ slide.header}}} 
  </hgroup>
  {{/ slide.header }}
  <article data-timings="{{ slide.dt }}">
    {{{ slide.content }}}
  </article>

<!--<footer class = 'logo'>
<div style="position: absolute; left: 1007px; bottom: 40px; z-index:100">
<img src = "assets/img/png_icons/puck.ball.fw_pie.fw.png" height="30" width="30">
</div>
</footer>
-->

  <!-- Presenter Notes -->
  {{# slide.pnotes }}
  <aside class="note" id="{{ id }}">
    <section>
      {{{ html }}}
    </section>
  </aside>
  {{/ slide.pnotes }}
</slide>

